body {
  background: #0b0b0b;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
  padding-top: 100px;
}

h1 {
  font-size: 60px;
  letter-spacing: 5px;
}

p {
  color: #aaa;
  font-size: 18px;
}
header {
  padding: 40px;
  border-bottom: 1px solid #222;
}

section {
  margin: 100px 0;
}

footer {
  border-top: 1px solid #222;
  padding: 20px;
  color: #777;
}
